interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle%3AThe+Odyssey%2Binauthor%3AHomer
  response:
    body:
      string: "{\n  \"kind\": \"books#volumes\",\n  \"totalItems\": 1000000,\n  \"items\":
        [\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"qhQAywOYz10C\",\n
        \     \"etag\": \"LVjdr7Z+fCo\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/qhQAywOYz10C\",\n
        \     \"volumeInfo\": {\n        \"title\": \"The Odyssey\",\n        \"authors\":
        [\n          \"Homer\"\n        ],\n        \"publisher\": \"Collector's Library\",\n
        \       \"publishedDate\": \"2004-02\",\n        \"description\": \"The Odyssey,
        translated by T. E. Lawrence, an epic 12,000-line poem composed over 2,700
        years ago, is the first adventure story in Western literature. It describes
        the ten-year wanderings of Odysseus in his quest to return home after the
        Trojan War. Hounded by the sea-god Poseidon and championed by the goddess
        Athene, he encounters giants, sorceresses, and sea monsters before finally
        reaching his beloved Ithaca. There he must endure the taunts of the Suitors
        to his queen, Penelope, who have taken up residence in his palace. At once
        enchanting fairy tale and gripping drama, the Odyssey is eminently readable,
        not least for the rich complexity and magnetism of its hero. An inspiration
        to writers as diverse as Virgil, Swift, and Joyce, the Odyssey has proved
        enormously influential and continues to captivate readers of all ages.\",\n
        \       \"industryIdentifiers\": [\n          {\n            \"type\": \"ISBN_10\",\n
        \           \"identifier\": \"1904633374\"\n          },\n          {\n            \"type\":
        \"ISBN_13\",\n            \"identifier\": \"9781904633372\"\n          }\n
        \       ],\n        \"readingModes\": {\n          \"text\": false,\n          \"image\":
        true\n        },\n        \"pageCount\": 420,\n        \"printType\": \"BOOK\",\n
        \       \"categories\": [\n          \"Drama\"\n        ],\n        \"averageRating\":
        4,\n        \"ratingsCount\": 3,\n        \"maturityRating\": \"NOT_MATURE\",\n
        \       \"allowAnonLogging\": false,\n        \"contentVersion\": \"0.4.5.0.preview.1\",\n
        \       \"panelizationSummary\": {\n          \"containsEpubBubbles\": false,\n
        \         \"containsImageBubbles\": false\n        },\n        \"imageLinks\":
        {\n          \"smallThumbnail\": \"http://books.google.com/books/content?id=qhQAywOYz10C&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n
        \         \"thumbnail\": \"http://books.google.com/books/content?id=qhQAywOYz10C&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n
        \       },\n        \"language\": \"en\",\n        \"previewLink\": \"http://books.google.com/books?id=qhQAywOYz10C&printsec=frontcover&dq=intitle:The+Odyssey%2Binauthor:Homer&hl=&as_pt=BOOKS&cd=1&source=gbs_api\",\n
        \       \"infoLink\": \"http://books.google.com/books?id=qhQAywOYz10C&dq=intitle:The+Odyssey%2Binauthor:Homer&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"canonicalVolumeLink\": \"https://books.google.com/books/about/The_Odyssey.html?hl=&id=qhQAywOYz10C\"\n
        \     },\n      \"saleInfo\": {\n        \"country\": \"US\",\n        \"saleability\":
        \"NOT_FOR_SALE\",\n        \"isEbook\": false\n      },\n      \"accessInfo\":
        {\n        \"country\": \"US\",\n        \"viewability\": \"PARTIAL\",\n        \"embeddable\":
        true,\n        \"publicDomain\": false,\n        \"textToSpeechPermission\":
        \"ALLOWED\",\n        \"epub\": {\n          \"isAvailable\": false\n        },\n
        \       \"pdf\": {\n          \"isAvailable\": true,\n          \"acsTokenLink\":
        \"http://books.google.com/books/download/The_Odyssey-sample-pdf.acsm?id=qhQAywOYz10C&format=pdf&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api\"\n
        \       },\n        \"webReaderLink\": \"http://play.google.com/books/reader?id=qhQAywOYz10C&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"accessViewStatus\": \"SAMPLE\",\n        \"quoteSharingAllowed\":
        false\n      },\n      \"searchInfo\": {\n        \"textSnippet\": \"The Odyssey,
        translated by T. E. Lawrence, an epic 12,000-line poem composed over 2,700
        years ago, is the first adventure story in Western literature.\"\n      }\n
        \   },\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"diQmqxBEj08C\",\n
        \     \"etag\": \"bhhxPA8aw1U\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/diQmqxBEj08C\",\n
        \     \"volumeInfo\": {\n        \"title\": \"The Odyssey\",\n        \"authors\":
        [...]
