interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle%3A1984%2Binauthor%3AGeorge+Orwell
  response:
    body:
      string: "{\n  \"kind\": \"books#volumes\",\n  \"totalItems\": 1000000,\n  \"items\":
        [\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"1aIFEAAAQBAJ\",\n
        \     \"etag\": \"oJkVPcq6OUA\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/1aIFEAAAQBAJ\",\n
        \     \"volumeInfo\": {\n        \"title\": \"1984 : George Orwell's 1984:
        A Dystopian Masterpiece\",\n        \"subtitle\": \"George Orwell 1984: A
        Dystopian Masterpiece by a Visionary Author by George Orwell\",\n        \"authors\":
        [\n          \"George Orwell\"\n        ],\n        \"publisher\": \"Prabhat
        Prakashan\",\n        \"publishedDate\": \"2021-01-01\",\n        \"description\":
        \"George Orwell 1984: Nineteen Eighty-Four is a groundbreaking dystopian novel
        by English author George Orwell. Published in 1949, it presents a chilling
        portrayal of a totalitarian society where individualism is suppressed, surveillance
        is omnipresent, and truth is manipulated for political control. Often referred
        to simply as 1984, the book has become a timeless classic and a cautionary
        tale about the dangers of totalitarianism and the importanc[...]
