interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=inauthor%3AShakespeare
  response:
    body:
      string: "{\n  \"kind\": \"books#volumes\",\n  \"totalItems\": 1000000,\n  \"items\":
        [\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"iL45AQAAMAAJ\",\n
        \     \"etag\": \"CPyZChoSSao\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/iL45AQAAMAAJ\",\n
        \     \"volumeInfo\": {\n        \"title\": \"Hamlet\",\n        \"authors\":
        [\n          \"William Shakespeare\"\n        ],\n        \"publisher\": \"A&C
        Black\",\n        \"publishedDate\": \"1902\",\n        \"description\": \"This
        edition of Hamlet represents a radically new text of the best known and most
        widely discussed of all Shakespearean tragedies. Arguing that the text currently
        accepted is not, in fact, the most authoritative version of the play, this
        new edition turns to the First Folio of 1623--Shakespeare's \\\"fair copy\\\"--that
        has been preserved for us in the Second Quarto. Introducing fresh theatrical
        momentum, this revision provides, as Shakespeare intended, a better, more
        practical acting script.\",\n        \"industryIdentifiers\": [\n          {\n
        \           \"type\": \"OTHER\",\n            \"identifier\": \"UOM:39015082150650\"\n
        \         }\n        ],\n        \"readingModes\": {\n          \"text\":
        false,\n          \"image\": true\n        },\n        \"pageCount\": 220,\n
        \       \"printType\": \"BOOK\",\n        \"categories\": [\n          \"Drama\"\n
        \       ],\n        \"averageRating\": 3,\n        \"ratingsCount\": 2,\n
        \       \"maturityRating\": \"NOT_MATURE\",\n        \"allowAnonLogging\":
        false,\n        \"contentVersion\": \"0.6.7.0.full.1\",\n        \"panelizationSummary\":
        {\n          \"containsEpubBubbles\": false,\n          \"containsImageBubbles\":
        false\n        },\n        \"imageLinks\": {\n          \"smallThumbnail\":
        \"http://books.google.com/books/content?id=iL45AQAAMAAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n
        \         \"thumbnail\": \"http://books.google.com/books/content?id=iL45AQAAMAAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n
        \       },\n        \"language\": \"en\",\n        \"previewLink\": \"http://books.google.com/books?id=iL45AQAAMAAJ&printsec=frontcover&dq=inauthor:Shakespeare&hl=&as_pt=BOOKS&cd=1&source=gbs_api\",\n
        \       \"infoLink\": \"https://play.google.com/store/books/details?id=iL45AQAAMAAJ&source=gbs_api\",\n
        \       \"canonicalVolumeLink\": \"https://play.google.com/store/books/details?id=iL45AQAAMAAJ\"\n
        \     },\n      \"saleInfo\": {\n        \"country\": \"US\",\n        \"saleability\":
        \"FREE\",\n        \"isEbook\": true,\n        \"buyLink\": \"https://play.google.com/store/books/details?id=iL45AQAAMAAJ&rdid=book-iL45AQAAMAAJ&rdot=1&source=gbs_api\"\n
        \     },\n      \"accessInfo\": {\n        \"country\": \"US\",\n        \"viewability\":
        \"ALL_PAGES\",\n        \"embeddable\": true,\n        \"publicDomain\": true,\n
        \       \"textToSpeechPermission\": \"ALLOWED\",\n        \"epub\": {\n          \"isAvailable\":
        false,\n          \"downloadLink\": \"http://books.google.com/books/download/Hamlet.epub?id=iL45AQAAMAAJ&hl=&output=epub&source=gbs_api\"\n
        \       },\n        \"pdf\": {\n          \"isAvailable\": true,\n          \"downloadLink\":
        \"http://books.google.com/books/download/Hamlet.pdf?id=iL45AQAAMAAJ&hl=&output=pdf&sig=ACfU3U3qHdKk6dFZttOeyKwRBx7Ak9YtZw&source=gbs_api\"\n
        \       },\n        \"webReaderLink\": \"http://play.google.com/books/reader?id=iL45AQAAMAAJ&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"accessViewStatus\": \"FULL_PUBLIC_DOMAIN\",\n        \"quoteSharingAllowed\":
        false\n      },\n      \"searchInfo\": {\n        \"textSnippet\": \"This
        edition of Hamlet represents a radically new text of the best known and most
        widely discussed of all Shakespearean tragedies.\"\n      }\n    },\n    {\n
        \     \"kind\": \"books#volume\",\n      \"id\": \"zxOiZePICkcC\",\n      \"etag\":
        \"KKD0HuZi6fc\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/zxOiZePICkcC\",\n
        \     \"volumeInfo\": {\n        \"title\": \"Hamlet\",\n        \"authors\":
        [\n          \"William Sha[...]
