interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle%3AThe+Hobbit
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 429,\n    \"message\": \"Quota exceeded
        for quota metric 'Queries' and limit 'Queries per day' of service 'books.googleapis.com'
        for consumer 'project_number:624717413613'.\",\n    \"errors\": [\n      {\n
        \       \"message\": \"Quota exceeded for quota metric 'Queries' and limit
        'Queries per day' of service 'books.googleapis.com' for consumer 'project_number:624717413613'.\",\n
        \       \"domain\": \"global\",\n        \"reason\": \"rateLimitExceeded\"\n
        \     }\n    ],\n    \"status\": \"RESOURCE_EXHAUSTED\",\n    \"details\":
        [\n      {\n        \"@type\": \"type.googleapis.com/google.rpc.ErrorInfo\",\n
        \       \"reason\": \"RATE_LIMIT_EXCEEDED\",\n        \"domain\": \"googleapis.com\",\n
        \       \"metadata\": {\n          \"quota_limit\": \"defaultPerDayPerProject\",\n
        \         \"service\": \"books.googleapis.com\",\n          \"quota_unit\":
        \"1/d/{project}\",\n          \"quota_limit_value\": \"20000000\",\n          \"quota_metric\":
        \"books.googleapis.com/default\",\n          \"consumer\": \"projects/624717413613\",\n
        \         \"quota_location\": \"global\"\n        }\n      },\n      {\n        \"@type\":
        \"type.googleapis.com/google.rpc.Help\",\n        \"links\": [\n          {\n
        \           \"description\": \"Request a higher quota limit.\",\n            \"url\":
        \"https://cloud.google.com/docs/quotas/help/request_increase\"\n          }\n
        \       ]\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 429
      message: Too Many Requests
[...]
