interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle%3ACaf%C3%A9%2Binauthor%3AGabriel+Garc%C3%ADa+M%C3%A1rquez
  response:
    body:
      string: "{\n  \"kind\": \"books#volumes\",\n  \"totalItems\": 1000000,\n  \"items\":
        [\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"g3KCEQAAQBAJ\",\n
        \     \"etag\": \"B4dxObMijP8\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/g3KCEQAAQBAJ\",\n
        \     \"volumeInfo\": {\n        \"title\": \"One Hundred Years of Solitude\",\n
        \       \"subtitle\": \"Gabriel Garcia Marquez\",\n        \"authors\": [\n
        \         \"Gabriel Garcia Marquez\"\n        ],\n        \"publisher\": \"Penguin
        Random House India Private Limited\",\n        \"publishedDate\": \"2025-08-30\",\n
        \       \"description\": \"Gabriel Garc\xEDa M\xE1rquez has been one of the
        literary giants of the past century; his body of work is an undisputed cultural
        landmark and a touchstone for countless readers and writers alike. One Hundred
        Years of Solitude is a true classic, a timelessly fascinating and intricately
        patterned work of fiction and a joyful, irrepressible celebration of humanity.
        This iconic work is the perfect celebration of Marquez's extraordinary impact
        on the modern world and his phenomenal literary achievements.\",\n        \"industryIdentifiers\":
        [\n          {\n            \"type\": \"ISBN_13\",\n            \"identifier\":
        \"9789373034454\"\n          },\n          {\n            \"type\": \"ISBN_10\",\n
        \           \"identifier\": \"9373034456\"\n          }\n        ],\n        \"readingModes\":
        {\n          \"text\": true,\n          \"image\": true\n        },\n        \"pageCount\":
        394,\n        \"printType\": \"BOOK\",\n        \"categories\": [\n          \"Fiction\"\n
        \       ],\n        \"maturityRating\": \"NOT_MATURE\",\n        \"allowAnonLogging\":
        false,\n        \"contentVersion\": \"1.1.1.0.preview.3\",\n        \"panelizationSummary\":
        {\n          \"containsEpubBubbles\": false,\n          \"containsImageBubbles\":
        false\n        },\n        \"imageLinks\": {\n          \"smallThumbnail\":
        \"http://books.google.com/books/content?id=g3KCEQAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n
        \         \"thumbnail\": \"http://books.google.com/books/content?id=g3KCEQAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n
        \       },\n        \"language\": \"en\",\n        \"previewLink\": \"http://books.google.com/books?id=g3KCEQAAQBAJ&printsec=frontcover&dq=intitle:Caf%C3%A9%2Binauthor:Gabriel+Garc%C3%ADa+M%C3%A1rquez&hl=&as_pt=BOOKS&cd=1&source=gbs_api\",\n
        \       \"infoLink\": \"http://books.google.com/books?id=g3KCEQAAQBAJ&dq=intitle:Caf%C3%A9%2Binauthor:Gabriel+Garc%C3%ADa+M%C3%A1rquez&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"canonicalVolumeLink\": \"https://books.google.com/books/about/One_Hundred_Years_of_Solitude.html?hl=&id=g3KCEQAAQBAJ\"\n
        \     },\n      \"saleInfo\": {\n        \"country\": \"US\",\n        \"saleability\":
        \"NOT_FOR_SALE\",\n        \"isEbook\": false\n      },\n      \"accessInfo\":
        {\n        \"country\": \"US\",\n        \"viewability\": \"PARTIAL\",\n        \"embeddable\":
        true,\n        \"publicDomain\": false,\n        \"textToSpeechPermission\":
        \"ALLOWED\",\n        \"epub\": {\n          \"isAvailable\": true,\n          \"acsTokenLink\":
        \"http://books.google.com/books/download/One_Hundred_Years_of_Solitude-sample-epub.acsm?id=g3KCEQAAQBAJ&format=epub&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api\"\n
        \       },\n        \"pdf\": {\n          \"isAvailable\": true,\n          \"acsTokenLink\":
        \"http://books.google.com/books/download/One_Hundred_Years_of_Solitude-sample-pdf.acsm?id=g3KCEQAAQBAJ&format=pdf&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api\"\n
        \       },\n        \"webReaderLink\": \"http://play.google.com/books/reader?id=g3KCEQAAQBAJ&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"accessViewStatus\": \"SAMPLE\",\n        \"quoteSharingAllowed\":
        false\n      },\n      \"searchInfo\": {\n        \"textSnippet\": \"This
        iconic work is the perfect celebration of Marquez&#39;s extraordinary impact
        on the modern world and his phenomenal literary achievements.\"\n      }\n
        \   },\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"e6fKswEACAAJ\",\n
        \     \"etag\": \"jKy0Csh9hec\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/e6fKswEACAAJ\",\n
        \     \"volumeInfo\": {\n        \"title\": \"Conversations with Gabriel Garc\xEDa
        M\xE1rq[...]
