interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle%3AThe+Nightingale%2Binauthor%3AKristin+Hannah
  response:
    body:
      string: "{\n  \"kind\": \"books#volumes\",\n  \"totalItems\": 1000000,\n  \"items\":
        [\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"0QE3BAAAQBAJ\",\n
        \     \"etag\": \"f5yeMWh1uDk\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/0QE3BAAAQBAJ\",\n
        \     \"volumeInfo\": {\n        \"title\": \"The Nightingale\",\n        \"subtitle\":
        \"A Novel\",\n        \"authors\": [\n          \"Kristin Hannah\"\n        ],\n
        \       \"publisher\": \"St. Martin's Press\",\n        \"publishedDate\":
        \"2015-02-03\",\n        \"description\": \"A REESE'S BOOK CLUB PICK A #1
        New York Times bestseller, Wall Street Journal Best Book of the Year, and
        soon to be a major motion picture, this unforgettable novel of love and strength
        in the face of war has enthralled a generation. With courage, grace, and powerful
        insight, bestselling author Kristin Hannah captures the epic panorama of World
        War II and illuminates an intimate part of history seldom seen: the women's
        war. The Nightingale tells the stories of two sisters, separated by years
        and experience, by ideals, passion and circumstance, each embarking on her
        own dangerous path toward survival, love, and freedom in German-occupied,
        war-torn France\u2014a heartbreakingly beautiful novel that celebrates the
        resilience of the human spirit and the durability of women. It is a novel
        for everyone, a novel for a lifetime. Goodreads Best Historical Novel of the
        Year \u2022 People's Choice Favorite Fiction Winner \u2022 #1 Indie Next Selection
        \u2022 A Buzzfeed and The Week Best Book of the Year\",\n        \"industryIdentifiers\":
        [\n          {\n            \"type\": \"ISBN_13\",\n            \"identifier\":
        \"9781466850606\"\n          },\n          {\n            \"type\": \"ISBN_10\",\n
        \           \"identifier\": \"1466850604\"\n          }\n        ],\n        \"readingModes\":
        {\n          \"text\": true,\n          \"image\": false\n        },\n        \"pageCount\":
        497,\n        \"printType\": \"BOOK\",\n        \"categories\": [\n          \"Fiction\"\n
        \       ],\n        \"averageRating\": 4.5,\n        \"ratingsCount\": 7,\n
        \       \"maturityRating\": \"NOT_MATURE\",\n        \"allowAnonLogging\":
        true,\n        \"contentVersion\": \"3.22.23.0.preview.2\",\n        \"panelizationSummary\":
        {\n          \"containsEpubBubbles\": false,\n          \"containsImageBubbles\":
        false\n        },\n        \"imageLinks\": {\n          \"smallThumbnail\":
        \"http://books.google.com/books/content?id=0QE3BAAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n
        \         \"thumbnail\": \"http://books.google.com/books/content?id=0QE3BAAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n
        \       },\n        \"language\": \"en\",\n        \"previewLink\": \"http://books.google.com/books?id=0QE3BAAAQBAJ&printsec=frontcover&dq=intitle:The+Nightingale%2Binauthor:Kristin+Hannah&hl=&as_pt=BOOKS&cd=1&source=gbs_api\",\n
        \       \"infoLink\": \"https://play.google.com/store/books/details?id=0QE3BAAAQBAJ&source=gbs_api\",\n
        \       \"canonicalVolumeLink\": \"https://play.google.com/store/books/details?id=0QE3BAAAQBAJ\"\n
        \     },\n      \"saleInfo\": {\n        \"country\": \"US\",\n        \"saleability\":
        \"FOR_SALE\",\n        \"isEbook\": true,\n        \"listPrice\": {\n          \"amount\":
        11.99,\n          \"currencyCode\": \"USD\"\n        },\n        \"retailPrice\":
        {\n          \"amount\": 11.99,\n          \"currencyCode\": \"USD\"\n        },\n
        \       \"buyLink\": \"https://play.google.com/store/books/details?id=0QE3BAAAQBAJ&rdid=book-0QE3BAAAQBAJ&rdot=1&source=gbs_api\",\n
        \       \"offers\": [\n          {\n            \"finskyOfferType\": 1,\n
        \           \"listPrice\": {\n              \"amountInMicros\": 11990000,\n
        \             \"currencyCode\": \"USD\"\n            },\n            \"retailPrice\":
        {\n              \"amountInMicros\": 11990000,\n              \"currencyCode\":
        \"USD\"\n            },\n            \"giftable\": true\n          }\n        ]\n
        \     },\n      \"accessInfo\": {\n        \"country\": \"US\",\n        \"viewability\":
        \"PARTIAL\",\n        \"embeddable\": true,\n        \"publicDomain\": false,\n
        \       \"textToSpeechPermission\": \"ALLOWED\",\n        \"epub\": {\n          \"isAvailable\":
        true,\n          \"acsTokenLink\": \"http://books.google.com/books/download/The_Nightingale-sample-epub.acsm?id=0QE3BAAAQBAJ&format=epub&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api\"\n
        \       },\n        \"pdf\": {\n          \"isAvailable\": false\n        },\n
        \       \"webReaderLink\": \"http://play.google.com/books/reader?id=0QE3BAAAQBAJ&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"accessViewStatus\": \"SAMPLE\",\n        \"quoteSharingAllowed\":
        false\n      },\n      \"searchInfo\": {\n        \"textSnippet\": \"The Nightingale
        tells the stories of two sisters, separated by years and experience, by ideals,
        passion and circumstance, each embarking on her own dangerous path toward
        survival, love, and freedom in German-occupied, war-torn France\u2014a ...\"\n
        \     }\n    },\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"3kCZjgEACAAJ\",\n
        \     \"etag\": \"DQBpl+56PoU\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/3kCZjgEACAAJ\",[...]
