interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle%3AHarry+Potter
  response:
    body:
      string: "{\n  \"kind\": \"books#volumes\",\n  \"totalItems\": 1000000,\n  \"items\":
        [\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"wrOQLV6xB-wC\",\n
        \     \"etag\": \"0225uc3Y8jQ\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/wrOQLV6xB-wC\",\n
        \     \"volumeInfo\": {\n        \"title\": \"Harry Potter and the Sorcerer's
        Stone\",\n        \"authors\": [\n          \"J.K. Rowling\"\n        ],\n
        \       \"publisher\": \"Pottermore Publishing\",\n        \"publishedDate\":
        \"2015-12-08\",\n        \"description\": \"Turning the envelope over, his
        hand trembling, Harry saw a purple wax seal bearing a coat of arms; a lion,
        an eagle, a badger and a snake surrounding a large letter 'H'. Harry Potter
        has never even heard of Hogwarts when the letters start dropping on the doormat
        at number four, Privet Drive. Addressed in green ink on yellowish parchment
        with a purple seal, they are swiftly confiscated by his grisly aunt and uncle.
        Then, on Harry's eleventh birthday, a great beetle-eyed giant of a man called
        Rubeus Hagrid bursts in with some astonishing news: Harry Potter is a wizard,
        and he has a place at Hogwarts School of Witchcraft and Wizardry. An incredible
        adventure is about to begin! Having become classics of our time, the Harry
        Potter eBooks never fail to bring comfort and escapism. With their message
        of hope, belonging and the enduring power of truth and love, the story of
        the Boy Who Lived continues to delight generations of new readers.\",\n        \"industryIdentifiers\":
        [\n          {\n            \"type\": \"ISBN_13\",\n            \"identifier\":
        \"9781781100486\"\n          },\n          {\n            \"type\": \"ISBN_10\",\n
        \           \"identifier\": \"1781100489\"\n          }\n        ],\n        \"readingModes\":
        {\n          \"text\": true,\n          \"image\": true\n        },\n        \"pageCount\":
        312,\n        \"printType\": \"BOOK\",\n        \"categories\": [\n          \"Juvenile
        Fiction\"\n        ],\n        \"averageRating\": 4.5,\n        \"ratingsCount\":
        312,\n        \"maturityRating\": \"NOT_MATURE\",\n        \"allowAnonLogging\":
        true,\n        \"contentVersion\": \"3.40.38.0.preview.3\",\n        \"panelizationSummary\":
        {\n          \"containsEpubBubbles\": false,\n          \"containsImageBubbles\":
        false\n        },\n        \"imageLinks\": {\n          \"smallThumbnail\":
        \"http://books.google.com/books/content?id=wrOQLV6xB-wC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n
        \         \"thumbnail\": \"http://books.google.com/books/content?id=wrOQLV6xB-wC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n
        \       },\n        \"language\": \"en\",\n        \"previewLink\": \"http://books.google.com/books?id=wrOQLV6xB-wC&printsec=frontcover&dq=intitle:Harry+Potter&hl=&as_pt=BOOKS&cd=1&source=gbs_api\",\n
        \       \"infoLink\": \"https://play.google.com/store/books/details?id=wrOQLV6xB-wC&source=gbs_api\",\n
        \       \"canonicalVolumeLink\": \"https://play.google.com/store/books/details?id=wrOQLV6xB-wC\"\n
        \     },\n      \"saleInfo\": {\n        \"country\": \"US\",\n        \"saleability\":
        \"FOR_SALE\",\n        \"isEbook\": true,\n        \"listPrice\": {\n          \"amount\":
        11.99,\n          \"currencyCode\": \"USD\"\n        },\n        \"retailPrice\":
        {\n          \"amount\": 11.99,\n          \"currencyCode\": \"USD\"\n        },\n
        \       \"buyLink\": \"https://play.google.com/store/books/details?id=wrOQLV6xB-wC&rdid=book-wrOQLV6xB-wC&rdot=1&source=gbs_api\",\n
        \       \"offers\": [\n          {\n            \"finskyOfferType\": 1,\n
        \           \"listPrice\": {\n              \"amountInMicros\": 11990000,\n
        \             \"currencyCode\": \"USD\"\n            },\n            \"retailPrice\":
        {\n              \"amountInMicros\": 11990000,\n              \"currencyCode\":
        \"USD\"\n            },\n            \"giftable\": true\n          }\n        ]\n
        \     },\n      \"accessInfo\": {\n        \"country\": \"US\",\n        \"viewability\":
        \"PARTIAL\",\n        \"embeddable\": true,\n        \"publicDomain\": false,\n
        \       \"textToSpeechPermission\": \"ALLOWED\",\n        \"epub\": {\n          \"isAvailable\":
        true,\n          \"acsTokenLink\": \"http://books.google.com/books/download/Harry_Potter_and_the_Sorcerer_s_Stone-sample-epub.acsm?id=wrOQLV6xB-wC&format=epub&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api\"\n
        \       },\n        \"pdf\": {\n          \"isAvailable\": true,\n          \"acsTokenLink\":
        \"http://books.google.com/books/download/Harry_Potter_and_the_Sorcerer_s_Stone-sample-pdf.acsm?id=wrOQLV6xB-wC&format=pdf&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api\"\n
        \       },\n        \"webReaderLink\": \"http://play.google.com/books/reader?id=wrOQLV6xB-wC&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"accessViewStatus\": \"SAMPLE\",\n        \"quoteSharingAllowed\":
        false\n      },\n      \"searchInfo\": {\n        \"textSnippet\": \"&quot;Turning
        the envelope over, his hand trembling, Harry saw a purple wax seal bearing
        a coat of arms; a lion, an eagle, a badger and a snake surrounding a large
        letter &#39;H&#39;.&quot; Harry Potter has never even heard of Hogwarts when
        the letters start ...\"\n      }\n    },\n    {\n      \"kind\": \"books#volume\",\n
        \     \"id\": \"5iTebBW-w7QC\",\n      \"etag\": \"k3q4p3478Tk\",\n      \"selfLink\":
        \"https://www.googleapis.com/books/v[...]
