interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle%3AC%2B%2B+Programming%2Binauthor%3ABjarne+Stroustrup
  response:
    body:
      string: "{\n  \"kind\": \"books#volumes\",\n  \"totalItems\": 1000000,\n  \"items\":
        [\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"0klsAQAAQBAJ\",\n
        \     \"etag\": \"8nwRwW5kpBo\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/0klsAQAAQBAJ\",\n
        \     \"volumeInfo\": {\n        \"title\": \"The C++ Programming Language\",\n
        \       \"authors\": [\n          \"Bjarne Stroustrup\"\n        ],\n        \"publisher\":
        \"Pearson Education\",\n        \"publishedDate\": \"2013\",\n        \"description\":
        \"1. Introductory material -- 2. Basic facilities -- 3. Abstraction mechanisms
        -- 4. The standard library.\",\n        \"industryIdentifiers\": [\n          {\n
        \           \"type\": \"ISBN_13\",\n            \"identifier\": \"9780321563842\"\n
        \         },\n          {\n            \"type\": \"ISBN_10\",\n            \"identifier\":
        \"0321563840\"\n          }\n        ],\n        \"readingModes\": {\n          \"text\":
        false,\n          \"image\": true\n        },\n        \"pageCount\": 1366,\n
        \       \"printType\": \"BOOK\",\n        \"categories\": [\n          \"Business
        & Economics\"\n        ],\n        \"maturityRating\": \"NOT_MATURE\",\n        \"allowAnonLogging\":
        false,\n        \"contentVersion\": \"0.2.1.0.preview.1\",\n        \"panelizationSummary\":
        {\n          \"containsEpubBubbles\": false,\n          \"containsImageBubbles\":
        false\n        },\n        \"imageLinks\": {\n          \"smallThumbnail\":
        \"http://books.google.com/books/content?id=0klsAQAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n
        \         \"thumbnail\": \"http://books.google.com/books/content?id=0klsAQAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n
        \       },\n        \"language\": \"en\",\n        \"previewLink\": \"http://books.google.com/books?id=0klsAQAAQBAJ&printsec=frontcover&dq=intitle:C%2B%2B+Programming%2Binauthor:Bjarne+Stroustrup&hl=&as_pt=BOOKS&cd=1&source=gbs_api\",\n
        \       \"infoLink\": \"http://books.google.com/books?id=0klsAQAAQBAJ&dq=intitle:C%2B%2B+Programming%2Binauthor:Bjarne+Stroustrup&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"canonicalVolumeLink\": \"https://books.google.com/books/about/The_C++_Programming_Language.html?hl=&id=0klsAQAAQBAJ\"\n
        \     },\n      \"saleInfo\": {\n        \"country\": \"US\",\n        \"saleability\":
        \"NOT_FOR_SALE\",\n        \"isEbook\": false\n      },\n      \"accessInfo\":
        {\n        \"country\": \"US\",\n        \"viewability\": \"PARTIAL\",\n        \"embeddable\":
        true,\n        \"publicDomain\": false,\n        \"textToSpeechPermission\":
        \"ALLOWED_FOR_ACCESSIBILITY\",\n        \"epub\": {\n          \"isAvailable\":
        false\n        },\n        \"pdf\": {\n          \"isAvailable\": false\n
        \       },\n        \"webReaderLink\": \"http://play.google.com/books/reader?id=0klsAQAAQBAJ&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"accessViewStatus\": \"SAMPLE\",\n        \"quoteSharingAllowed\":
        false\n      },\n      \"searchInfo\": {\n        \"textSnippet\": \"1. Introductory
        material -- 2. Basic facilities -- 3. Abstraction mechanisms -- 4. The standard
        library.\"\n      }\n    },\n    {\n      \"kind\": \"books#volume\",\n      \"id\":
        \"EXfcAAAAQBAJ\",\n      \"etag\": \"mK8SeVTNpyE\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/EXfcAAAAQBAJ\",\n
        \     \"volumeInfo\": {\n        \"title\": \"A Tour of C++\",\n        \"authors\":
        [\n          \"Bjarne Stroustrup\"\n        ],\n      [...]
