interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle%3APride+and+Prejudice
  response:
    body:
      string: "{\n  \"kind\": \"books#volumes\",\n  \"totalItems\": 1000000,\n  \"items\":
        [\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"mdnrlnf9IGwC\",\n
        \     \"etag\": \"BshypL5qUXk\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/mdnrlnf9IGwC\",\n
        \     \"volumeInfo\": {\n        \"title\": \"Pride and Prejudice\",\n        \"authors\":
        [\n          \"Jane Austen\"\n        ],\n        \"publishedDate\": \"1918\",\n
        \       \"industryIdentifiers\": [\n          {\n            \"type\": \"OTHER\",\n
        \           \"identifier\": \"UOM:39015007047361\"\n          }\n        ],\n
        \       \"readingModes\": {\n          \"text\": false,\n          \"image\":
        true\n        },\n        \"pageCount\": 444,\n        \"printType\": \"BOOK\",\n
        \       \"maturityRating\": \"NOT_MATURE\",\n        \"allowAnonLogging\":
        false,\n        \"contentVersion\": \"0.1.6.0.full.1\",\n        \"panelizationSummary\":
        {\n          \"containsEpubBubbles\": false,\n          \"containsImageBubbles\":
        false\n        },\n        \"imageLinks\": {\n          \"smallThumbnail\":
        \"http://books.google.com/books/content?id=mdnrlnf9IGwC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n
        \         \"thumbnail\": \"http://books.google.com/books/content?id=mdnrlnf9IGwC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n
        \       },\n        \"language\": \"en\",\n        \"previewLink\": \"http://books.google.com/books?id=mdnrlnf9IGwC&printsec=frontcover&dq=intitle:Pride+and+Prejudice&hl=&as_pt=BOOKS&cd=1&source=gbs_api\",\n
        \       \"infoLink\": \"https://play.google.com/store/books/details?id=mdnrlnf9IGwC&source=gbs_api\",\n
        \       \"canonicalVolumeLink\": \"https://play.google.com/store/books/details?id=mdnrlnf9IGwC\"\n
        \     },\n      \"saleInfo\": {\n        \"country\": \"US\",\n        \"saleability\":
        \"FREE\",\n        \"isEbook\": true,\n        \"buyLink\": \"https://play.google.com/store/books/details?id=mdnrlnf9IGwC&rdid=book-mdnrlnf9IGwC&rdot=1&source=gbs_api\"\n
        \     },\n      \"accessInfo\": {\n        \"country\": \"US\",\n        \"viewability\":
        \"ALL_PAGES\",\n        \"embeddable\": true,\n        \"publicDomain\": true,\n
        \       \"textToSpeechPermission\": \"ALLOWED\",\n        \"epub\": {\n          \"isAvailable\":
        false,\n          \"downloadLink\": \"http://books.google.com/books/download/Pride_and_Prejudice.epub?id=mdnrlnf9IGwC&hl=&output=epub&source=gbs_api\"\n
        \       },\n        \"pdf\": {\n          \"isAvailable\": false\n        },\n
        \       \"webReaderLink\": \"http://play.google.com/books/reader?id=mdnrlnf9IGwC&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"accessViewStatus\": \"FULL_PUBLIC_DOMAIN\",\n        \"quoteSharingAllowed\":
        false\n      }\n    },\n    {\n      \"kind\": \"books#volume\",\n      \"id\":
        \"RfXWCwAAQBAJ\",\n      \"etag\": \"idcEfUD3aec\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/RfXWCwAAQBAJ\",\n
        \     \"volumeInfo\": {\n        \"title\": \"Pride and Prejudice\",\n        \"authors\":
        [\n          \"Jane Austen\"\n        ],\n        \"publisher\": \"Mizan Qanita\",\n
        \       \"publishedDate\": \"2016-03-30\",\n        \"description\": \"\\\"Sejak
        awal, perangaimu, keangkuhanmu, sikap acuh tak acuhmu, jadi landasan kebencianku
        padamu. Sebelum sebulan mengenalmu, aku sudah tahu bahwa kau adalah pria yang
        takkan mungkin kunikahi.\\\" Di mata Elizabeth, Mr. Darcy tidak pernah menjadi
        sosok yang memesona. Baginya laki-laki itu angkuh, sombong, dan menyebalkan.
        Elizabeth membenci tatapannya yang merendahkan, cara bicaranya yang meremehkan,
        dan segala hal tentang bangsawan kaya raya i[...]
