interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle%3APride+and+Prejudice%2Binauthor%3AJane+Austen
  response:
    body:
      string: "{\n  \"kind\": \"books#volumes\",\n  \"totalItems\": 1000000,\n  \"items\":
        [\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"s1gVAAAAYAAJ\",\n
        \     \"etag\": \"iUL2SyOTmY8\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/s1gVAAAAYAAJ\",\n
        \     \"volumeInfo\": {\n        \"title\": \"Pride and Prejudice\",\n        \"authors\":
        [\n          \"Jane Austen\"\n        ],\n        \"publishedDate\": \"1918\",\n
        \       \"description\": \"Austen\u2019s most celebrated novel tells the story
        of Elizabeth Bennet, a bright, lively young woman with four sisters, and a
        mother determined to marry them to wealthy men. At a party near the Bennets\u2019
        home in the English countryside, Elizabeth meets the wealthy, proud Fitzwilliam
        Darcy. Elizabeth initially finds Darcy haughty and intolerable, but circumstances
        continue to unite the pair. Mr. Darcy finds himself captivated by Elizabeth\u2019s
        wit and candor, while her reservations about his character slowly vanish.
        The story is as much a social critique as it is a love story, and the prose
        crackles with Austen\u2019s wry wit.\",\n        \"industryIdentifiers\":
        [\n          {\n            \"type\": \"OTHER\",\n            \"identifier\":
        \"HARVARD:32044086796588\"\n          }\n        ],\n        \"readingModes\":
        {\n          \"text\": true,\n          \"image\": true\n        },\n        \"pageCount\":
        448,\n        \"printType\": \"BOOK\",\n        \"categories\": [\n          \"Courtship\"\n
        \       ],\n        \"averageRating\": 4,\n        \"ratingsCount\": 367,\n
        \       \"maturityRating\": \"NOT_MATURE\",\n        \"allowAnonLogging\":
        false,\n        \"contentVersion\": \"1.5.13.0.full.3\",\n        \"panelizationSummary\":
        {\n          \"containsEpubBubbles\": false,\n          \"containsImageBubbles\":
        false\n        },\n        \"imageLinks\": {\n          \"smallThumbnail\":
        \"http://books.google.com/books/content?id=s1gVAAAAYAAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n
        \         \"thumbnail\": \"http://books.google.com/books/content?id=s1gVAAAAYAAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n
        \       },\n        \"language\": \"en\",\n        \"previewLink\": \"http://books.google.com/books?id=s1gVAAAAYAAJ&printsec=frontcover&dq=intitle:Pride+and+Prejudice%2Binauthor:Jane+Austen&hl=&as_pt=BOOKS&cd=1&source=gbs_api\",\n
        \       \"infoLink\": \"https://play.google.com/store/books/details?id=s1gVAAAAYAAJ&source=gbs_api\",\n
        \       \"canonicalVolumeLink\": \"https://play.google.com/store/books/details?id=s1gVAAAAYAAJ\"\n
        \     },\n      \"saleInfo\": {\n        \"country\": \"US\",\n        \"saleability\":
        \"FREE\",\n        \"isEbook\": true,\n        \"buyLink\": \"https://play.google.com/store/books/details?id=s1gVAAAAYAAJ&rdid=book-s1gVAAAAYAAJ&rdot=1&source=gbs_api\"\n
        \     },\n      \"accessInfo\": {\n        \"country\": \"US\",\n        \"viewability\":
        \"ALL_PAGES\",\n        \"embeddable\": true,\n        \"publicDomain\": true,\n
        \       \"textToSpeechPermission\": \"ALLOWED\",\n        \"epub\": {\n          \"isAvailable\":
        true,\n          \"downloadLink\": \"http://books.google.com/books/download/Pride_and_Prejudice.epub?id=s1gVAAAAYAAJ&hl=&output=epub&source=gbs_api\"\n
        \       },\n        \"pdf\": {\n          \"isAvailable\": true,\n          \"downloadLink\":
        \"http://books.google.com/books/download/Pride_and_Prejudice.pdf?id=s1gVAAAAYAAJ&hl=&output=pdf&sig=ACfU3U3dQw5JDWdbVgk2VRHyDjVMT4oIaA&source=gbs_api\"\n
        \       },\n        \"webReaderLink\": \"http://play.google.com/books/reader?id=s1gVAAAAYAAJ&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"accessViewStatus\": \"FULL_PUBLIC_DOMAIN\",\n        \"quoteSharingAllowed\":
        false\n      },\n      \"searchInfo\": {\n        \"textSnippet\": \"Mr. Darcy
        finds himself captivated by Elizabeth\u2019s wit and candor, while her reservations
        about his character slowly vanish. The story is as much a social critique
        as it is a love story, and the prose crackles with Austen\u2019s wry wit.\"\n
        \     }\n    },\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"ydULEQAAQBAJ\",\n
        \     \"etag\": \"FoVPTKhLupo\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/ydULEQAAQBAJ\",\n
        \     \"volumeInfo\": {\n        \"title\": \"Pride and Prejudice\",\n        \"subtitle\":
        \"Jane Austen\",\n        \"authors\": [\n          \"Jane Austen\"\n        ],\n
        \       \"publisher\": \"Artaro\",\n        \"publishedDate\": \"2024-06-04\",\n
        \       \"description\": \"On the verdant plains of 18th-century England,
        in the heart of the Hertfordshire countryside, a timeless story of passion,
        pride and prejudice unfolds. Elizabeth Bennet, a lively, intelligent young
        woman, is the second of five sisters in a family of modest means. Her sharp
        mind and independent spirit set her apart in a society where propriety and
        matrimonial allia[...]
[...]
