interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle%3AThe+Great+Gatsby
  response:
    body:
      string: "{\n  \"kind\": \"books#volumes\",\n  \"totalItems\": 1000000,\n  \"items\":
        [\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"iXn5U2IzVH0C\",\n
        \     \"etag\": \"nPXAIOE4I0w\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/iXn5U2IzVH0C\",\n
        \     \"volumeInfo\": {\n        \"title\": \"The Great Gatsby\",\n        \"subtitle\":
        \"The Only Authorized Edition\",\n        \"authors\": [\n          \"F. Scott
        Fitzgerald\"\n        ],\n        \"publisher\": \"Simon and Schuster\",\n
        \       \"publishedDate\": \"2003-05-27\",\n        \"description\": \"The
        only edition of the beloved classic that is authorized by Fitzgerald\u2019s
        family and from his lifelong publisher. This edition is the enduring original
        text, updated with the author\u2019s own revisions, a foreword by his granddaughter,
        and with a new introduction by National Book Award winner Jesmyn Ward. The
        Great Gatsby, F. Scott Fitzgerald\u2019s third book, stands as the supreme
        achievement of his career. First published by Scribner in 1925, this quintessential
        novel of the Jazz Age has been acclaimed by generations of readers. The story
        of the mysteriously wealthy Jay Gatsby and his love for the beautiful Daisy
        Buchanan is an exquisitely crafted tale of America in the 1920s.\",\n        \"industryIdentifiers\":
        [\n          {\n            \"type\": \"ISBN_13\",\n            \"identifier\":
        \"9780743246392\"\n          },\n          {\n            \"type\": \"ISBN_10\",\n
        \           \"identifier\": \"074324639X\"\n          }\n        ],\n        \"readingModes\":
        {\n          \"text\": true,\n          \"image\": false\n        },\n        \"pageCount\":
        196,\n        \"printType\": \"BOOK\",\n        \"categories\": [\n          \"Fiction\"\n
        \       ],\n        \"averageRating\": 3.5,\n        \"ratingsCount\": 87,\n
        \       \"maturityRating\": \"NOT_MATURE\",\n        \"allowAnonLogging\":
        true,\n        \"contentVersion\": \"1.31.27.0.preview.2\",\n        \"panelizationSummary\":
        {\n          \"containsEpubBubbles\": false,\n          \"containsImageBubbles\":
        false\n        },\n        \"imageLinks\": {\n          \"smallThumbnail\":
        \"http://books.google.com/books/content?id=iXn5U2IzVH0C&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n
        \         \"thumbnail\": \"http://books.google.com/books/content?id=iXn5U2IzVH0C&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n
        \       },\n        \"language\": \"en\",\n        \"previewLink\": \"http://books.google.com/books?id=iXn5U2IzVH0C&printsec=frontcover&dq=intitle:The+Great+Gatsby&hl=&as_pt=BOOKS&cd=1&source=gbs_api\",\n
        \       \"infoLink\": \"https://play.google.com/store/books/details?id=iXn5U2IzVH0C&source=gbs_api\",\n
        \       \"canonicalVolumeLink\": \"https://play.google.com/store/books/details?id=iXn5U2IzVH0C\"\n
        \     },\n      \"saleInfo\": {\n        \"country\": \"US\",\n        \"saleability\":
        \"FOR_SALE\",\n        \"isEbook\": true,\n        \"listPrice\": {\n          \"amount\":
        9.99,\n          \"currencyCode\": \"USD\"\n        },\n        \"retailPrice\":
        {\n          \"amount\": 9.99,\n          \"currencyCode\": \"USD\"\n        },\n
        \       \"buyLink\": \"https://play.google.com/store/books/details?id=iXn5U2IzVH0C&rdid=book-iXn5U2IzVH0C&rdot=1&source=gbs_api\",\n
        \       \"offers\": [\n          {\n            \"finskyOfferType\": 1,\n
        \           \"listPrice\": {\n              \"amountInMicros\": 9990000,\n
        \             \"currencyCode\": \"USD\"\n            },\n            \"retailPrice\":
        {\n              \"amountInMicros\": 9990000,\n              \"currencyCode\":
        \"USD\"\n            },\n            \"giftable\": true\n          }\n        ]\n
        \     },\n      \"accessInfo\": {\n        \"country\": \"US\",\n        \"viewability\":
        \"PARTIAL\",\n        \"embeddable\": true,\n        \"publicDomain\": false,\n
        \       \"textToSpeechPermission\": \"ALLOWED_FOR_ACCESSIBILITY\",\n        \"epub\":
        {\n          \"isAvailable\": true,\n          \"acsTokenLink\": \"http://books.google.com/books/download/The_Great_Gatsby-sample-epub.acsm?id=iXn5U2IzVH0C&format=epub&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api\"\n
        \       },\n        \"pdf\": {\n          \"isAvailable\": false\n        },\n
        \       \"webReaderLink\": \"http://play.google.com/books/reader?id=iXn5U2IzVH0C&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"accessViewStatus\": \"SAMPLE\",\n        \"quoteSharingAllowed\":
        false\n      },\n      \"searchInfo\": {\n        \"textSnippet\": \"The Great
        Gatsby, F. Scott Fitzgerald\u2019s third book, stands as the supreme achievement
        of his career. First published by Scribner in 1925, this quintessential novel
        of the Jazz Age has been acclaimed by generations of readers.\"\n      }\n
        \   },\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"HestSXO362YC\",\n
        \     \"etag\": \"GKZ7hHoM4vU\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/HestSXO362YC\",\n
        \  [...]
