interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle%3AGood+Omens%2Binauthor%3ATerry+Pratchett
  response:
    body:
      string: "{\n  \"kind\": \"books#volumes\",\n  \"totalItems\": 1000000,\n  \"items\":
        [\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"7erEbfDOcgkC\",\n
        \     \"etag\": \"tdmiVYX6iLU\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/7erEbfDOcgkC\",\n
        \     \"volumeInfo\": {\n        \"title\": \"Good Omens\",\n        \"subtitle\":
        \"The Nice and Accurate Prophecies of Agnes Nutter, Witch\",\n        \"authors\":
        [\n          \"Neil Gaiman\",\n          \"Terry Pratchett\"\n        ],\n
        \       \"publisher\": \"Harper Collins\",\n        \"publishedDate\": \"2006-11-28\",\n
        \       \"description\": \"According to The Nice and Accurate Prophecies of
        Agnes Nutter, Witch (the world's only completely accurate book of prophecies,
        written in 1655, before she exploded), the world will end on a Saturday. Next
        Saturday, in fact. Just before dinner. So the armies of Good and Evil are
        amassing, Atlantis is rising, frogs are falling, tempers are flaring. Everything
        appears to be going according to Divine Plan. Except a somewhat fussy angel
        and a fast-living demon\u2014both of whom have lived amongst Earth's mortals
        since The Beginning and have grown rather fond of the lifestyle\u2014are not
        actually looking forward to the coming Rapture. And someone seems to have
        misplaced the Antichrist . . .\",\n        \"industryIdentifiers\": [\n          {\n
        \           \"type\": \"ISBN_13\",\n            \"identifier\": \"9780060853983\"\n
        \         },\n          {\n            \"type\": \"ISBN_10\",\n            \"identifier\":
        \"0060853980\"\n          }\n        ],\n        \"readingModes\": {\n          \"text\":
        false,\n          \"image\": false\n        },\n        \"pageCount\": 434,\n
        \       \"printType\": \"BOOK\",\n        \"categories\": [\n          \"Fiction\"\n
        \       ],\n        \"averageRating\": 4.5,\n        \"ratingsCount\": 11,\n
        \       \"maturityRating\": \"NOT_MATURE\",\n        \"allowAnonLogging\":
        false,\n        \"contentVersion\": \"0.2.2.0.preview.0\",\n        \"panelizationSummary\":
        {\n          \"containsEpubBubbles\": false,\n          \"containsImageBubbles\":
        false\n        },\n        \"imageLinks\": {\n          \"smallThumbnail\":
        \"http://books.google.com/books/content?id=7erEbfDOcgkC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n
        \         \"thumbnail\": \"http://books.google.com/books/content?id=7erEbfDOcgkC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n
        \       },\n        \"language\": \"en\",\n        \"previewLink\": \"http://books.google.com/books?id=7erEbfDOcgkC&printsec=frontcover&dq=intitle:Good+Omens%2Binauthor:Terry+Pratchett&hl=&as_pt=BOOKS&cd=1&source=gbs_api\",\n
        \       \"infoLink\": \"http://books.google.com/books?id=7erEbfDOcgkC&dq=intitle:Good+Omens%2Binauthor:Terry+Pratchett&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"canonicalVolumeLink\": \"https://books.google.com/books/about/Good_Omens.html?hl=&id=7erEbfDOcgkC\"\n
        \     },\n      \"saleInfo\": {\n        \"country\": \"US\",\n        \"saleability\":
        \"NOT_FOR_SALE\",\n        \"isEbook\": false\n      },\n      \"accessInfo\":
        {\n        \"country\": \"US\",\n        \"viewability\": \"PARTIAL\",\n        \"embeddable\":
        true,\n        \"publicDomain\": false,\n        \"textToSpeechPermission\":
        \"ALLOWED\",\n        \"epub\": {\n          \"isAvailable\": false\n        },\n
        \       \"pdf\": {\n          \"isAvailable\": false\n        },\n        \"webReaderLink\":
        \"http://play.google.com/books/reader?id=7erEbfDOcgkC&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"accessViewStatus\": \"SAMPLE\",\n        \"quoteSharingAllowed\":
        false\n      },\n      \"searchInfo\": {\n        \"textSnippet\": \"According
        to The Nice and Accurate Prophecies of Agnes Nutter, Witch (the world&#39;s
        only completely accurate book of prophecies, written in 1655, before she exploded),
        the world will end on a Saturday.\"\n      }\n    },\n    {\n      \"kind\":
        \"books#volume\",\n      \"id\": \"G_iNEAAAQBAJ\",\n      \"etag\": \"fwQLV4yEX1o\",\n
        \     \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/G_iNEAAAQBAJ\",\n
        \     \"volumeInfo\": {\n      [...]
