interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=3&printType=books&q=intitle%3APython+Programming
  response:
    body:
      string: "{\n  \"kind\": \"books#volumes\",\n  \"totalItems\": 1000000,\n  \"items\":
        [\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"aJQILlLxRmAC\",\n
        \     \"etag\": \"VjVVigTMYSU\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/aJQILlLxRmAC\",\n
        \     \"volumeInfo\": {\n        \"title\": \"Python Programming\",\n        \"subtitle\":
        \"An Introduction to Computer Science\",\n        \"authors\": [\n          \"John
        M. Zelle\"\n        ],\n        \"publisher\": \"Franklin, Beedle & Associates,
        Inc.\",\n        \"publishedDate\": \"2004\",\n        \"description\": \"This
        book is suitable for use in a university-level first course in computing (CS1),
        as well as the increasingly popular course known as CS0. It is difficult for
        many students to master basic concepts in computer science and programming.
        A large portion of the confusion can be blamed on the complexity of the tools
        and materials that are traditionally used to teach CS1 and CS2. This textbook
        was written with a single overarching goal: to present the core concepts of
        computer science as simply as possible without being simplistic.\",\n        \"industryIdentifiers\":
        [\n          {\n            \"type\": \"ISBN_13\",\n            \"identifier\":
        \"9781887902991\"\n          },\n          {\n            \"type\": \"ISBN_10\",\n
        \           \"identifier\": \"1887902996\"\n          }\n        ],\n        \"readingModes\":
        {\n          \"text\": false,\n          \"image\": true\n        },\n        \"pageCount\":
        533,\n        \"printType\": \"BOOK\",\n        \"categories\": [\n          \"Computers\"\n
        \       ],\n        \"averageRating\": 4,\n        \"ratingsCount\": 18,\n
        \       \"maturityRating\": \"NOT_MATURE\",\n        \"allowAnonLogging\":
        false,\n        \"contentVersion\": \"1.3.3.0.preview.1\",\n        \"panelizationSummary\":
        {\n          \"containsEpubBubbles\": false,\n          \"containsImageBubbles\":
        false\n        },\n        \"imageLinks\": {\n          \"smallThumbnail\":
        \"http://books.google.com/books/content?id=aJQILlLxRmAC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n
        \         \"thumbnail\": \"http://books.google.com/books/content?id=aJQILlLxRmAC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n
        \       },\n        \"language\": \"en\",\n        \"previewLink\": \"http://books.google.com/books?id=aJQILlLxRmAC&printsec=frontcover&dq=intitle:Python+Programming&hl=&as_pt=BOOKS&cd=1&source=gbs_api\",\n
        \       \"infoLink\": \"http://books.google.com/books?id=aJQILlLxRmAC&dq=intitle:Python+Programming&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"canonicalVolumeLink\": \"https://books.google.com/books/about/Python_Programming.html?hl=&id=aJQILlLxRmAC\"\n
        \     },\n      \"saleInfo\": {\n        \"country\": \"US\",\n        \"saleability\":
        \"NOT_FOR_SALE\",\n        \"isEbook\": false\n      },\n      \"accessInfo\":
        {\n        \"country\": \"US\",\n        \"viewability\": \"PARTIAL\",\n        \"embeddable\":
        true,\n        \"publicDomain\": false,\n        \"textToSpeechPermission\":
        \"ALLOWED\",\n        \"epub\": {\n          \"isAvailable\": false\n        },\n
        \       \"pdf\": {\n          \"isAvailable\": true,\n          \"acsTokenLink\":
        \"http://books.google.com/books/download/Python_Programming-sample-pdf.acsm?id=aJQILlLxRmAC&format=pdf&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api\"\n
        \       },\n        \"webReaderLink\": \"http://play.google.com/books/reader?id=aJQILlLxRmAC&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"accessViewStatus\": \"SAMPLE\",\n        \"quoteSharingAllowed\":
        false\n      },\n      \"searchInfo\": {\n        \"textSnippet\": \"This
        book is suitable for use in a university-level first course in computing (CS1),
        as well as the increasingly popular course known as CS0.\"\n      }\n    },\n
        \   {\n      \"kind\": \"books#volume\",\n      \"id\": \"mh0bU6NXrBgC\",\n
        \     \"etag\": \"D/iC4nCWDVk\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/mh0bU6NXrBgC\",\n
        \     \"volumeInfo\": {\n        \"title\": \"Core Python Programming\",\n
        \       \"authors[...]
