interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/books/v1/volumes?maxResults=5&printType=books&q=intitle%3AThe+Hobbit%2Binauthor%3AJ.R.R.+Tolkien
  response:
    body:
      string: "{\n  \"kind\": \"books#volumes\",\n  \"totalItems\": 1000000,\n  \"items\":
        [\n    {\n      \"kind\": \"books#volume\",\n      \"id\": \"U799AY3yfqcC\",\n
        \     \"etag\": \"gBprVLXL8Bo\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/U799AY3yfqcC\",\n
        \     \"volumeInfo\": {\n        \"title\": \"The Hobbit\",\n        \"authors\":
        [\n          \"J. R. R. Tolkien\"\n        ],\n        \"publisher\": \"HarperCollins
        UK\",\n        \"publishedDate\": \"2009-04-20\",\n        \"description\":
        \"This is the story of how a Baggins had an adventure, and found himself doing
        and saying things altogether unexpected... \u2018A flawless masterpiece\u2019
        The Times\",\n        \"industryIdentifiers\": [\n          {\n            \"type\":
        \"ISBN_13\",\n            \"identifier\": \"9780007322602\"\n          },\n
        \         {\n            \"type\": \"ISBN_10\",\n            \"identifier\":
        \"0007322607\"\n          }\n        ],\n        \"readingModes\": {\n          \"text\":
        true,\n          \"image\": false\n        },\n        \"pageCount\": 329,\n
        \       \"printType\": \"BOOK\",\n        \"categories\": [\n          \"Fiction\"\n
        \       ],\n        \"averageRating\": 4.5,\n        \"ratingsCount\": 102,\n
        \       \"maturityRating\": \"NOT_MATURE\",\n        \"allowAnonLogging\":
        true,\n        \"contentVersion\": \"2.29.27.0.preview.2\",\n        \"panelizationSummary\":
        {\n          \"containsEpubBubbles\": false,\n          \"containsImageBubbles\":
        false\n        },\n        \"imageLinks\": {\n          \"smallThumbnail\":
        \"http://books.google.com/books/content?id=U799AY3yfqcC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api\",\n
        \         \"thumbnail\": \"http://books.google.com/books/content?id=U799AY3yfqcC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api\"\n
        \       },\n        \"language\": \"en\",\n        \"previewLink\": \"http://books.google.com/books?id=U799AY3yfqcC&printsec=frontcover&dq=intitle:The+Hobbit%2Binauthor:J.R.R.+Tolkien&hl=&as_pt=BOOKS&cd=1&source=gbs_api\",\n
        \       \"infoLink\": \"http://books.google.com/books?id=U799AY3yfqcC&dq=intitle:The+Hobbit%2Binauthor:J.R.R.+Tolkien&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"canonicalVolumeLink\": \"https://books.google.com/books/about/The_Hobbit.html?hl=&id=U799AY3yfqcC\"\n
        \     },\n      \"saleInfo\": {\n        \"country\": \"US\",\n        \"saleability\":
        \"NOT_FOR_SALE\",\n        \"isEbook\": false\n      },\n      \"accessInfo\":
        {\n        \"country\": \"US\",\n        \"viewability\": \"PARTIAL\",\n        \"embeddable\":
        false,\n        \"publicDomain\": false,\n        \"textToSpeechPermission\":
        \"ALLOWED\",\n        \"epub\": {\n          \"isAvailable\": true,\n          \"acsTokenLink\":
        \"http://books.google.com/books/download/The_Hobbit-sample-epub.acsm?id=U799AY3yfqcC&format=epub&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api\"\n
        \       },\n        \"pdf\": {\n          \"isAvailable\": false\n        },\n
        \       \"webReaderLink\": \"http://play.google.com/books/reader?id=U799AY3yfqcC&hl=&as_pt=BOOKS&source=gbs_api\",\n
        \       \"accessViewStatus\": \"SAMPLE\",\n        \"quoteSharingAllowed\":
        false\n      },\n      \"searchInfo\": {\n        \"textSnippet\": \"This
        is the story of how a Baggins had an adventure, and found himself doing and
        saying things altogether unexpected... \u2018A flawless masterpiece\u2019
        The Times\"\n      }\n    },\n    {\n      \"kind\": \"books#volume\",\n      \"id\":
        \"F2xu1nZOzKoC\",\n      \"etag\": \"iIEWsyQs5Tg\",\n      \"selfLink\": \"https://www.googleapis.com/books/v1/volumes/F2xu1nZOzKoC\",\n
        \     \"volumeInfo\": {\n        \"title\": \"The Hobbit\",\n        \"authors\[...]
